<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.annotations.Annot"/>
      <class name="com.annotations.DependencyExample"/>
      <class name="com.annotations.Order"/>
      <class name="com.annotations.OneMoreAssertion"/>
      
      <class name="com.annotations.HardAssertExample"/>
      <class name="com.test.FetchdataFromDatapool"/>
      <class name="com.annotations.ParamWithExcel"/>
      <class name="com.annotations.FetchdataFromDatapool"/>
      <class name="com.annotations.WorkWithExcel"/>
      <class name="com.annotations.Param"/>
      <class name="com.annotations.SoftAssertExample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
